.fullMessageBlock{
    background-color:white;
    border-radius: 15px;
    padding: 15px 20px;
    margin-right: 20px;
}
.fullMessageText{
    margin: 50px 0;
    font-size: 18px;
}
.fullMessageInfo{
    font-style: italic;
}
.fullMessageInfo:first-child{
    text-align: end;
}

.fullMessageButton{
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
}

