@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "nav content";
  grid-template-columns: 3fr 9fr;
  grid-gap: 10px;
  font-family: 'Roboto', sans-serif;
  
  
}

.app-wrapper-content{
    grid-area: content;
    background-color:white;
    border-radius: 15px;
    padding: 15px 20px
    
}


